[submodule "D:\\Projects\\SpringBootMicroservicesCloud\\ServicesConfiguration"]
	path = D:\\Projects\\SpringBootMicroservicesCloud\\ServicesConfiguration
	url = https://github.com/LukaszKk/SpringBootMicroservicesCloud.git
