[submodule "https://github.com/LukaszKk/SpringBootMicroservicesCloudConfig"]
	path = https://github.com/LukaszKk/SpringBootMicroservicesCloudConfig
	url = https://github.com/LukaszKk/SpringBootMicroservicesCloud.git
